plugins {
    id 'java-library'
    id 'maven-publish'
    id 'biz.aQute.bnd.builder' version '7.3.0'
}

group = '{{.Coordinates.GroupId}}'
version = '0.0.1-SNAPSHOT'
java {
    sourceCompatibility = JavaVersion.VERSION_17
    targetCompatibility = JavaVersion.VERSION_17
}


repositories {
    mavenLocal()
    mavenCentral()
    {{if .IsDevelopment}}
    maven {
        url 'https://development.galasa.dev/main/maven-repo/obr'
    }
    {{end}}
}

dependencies {
    implementation platform('dev.galasa:galasa-bom:{{.GalasaVersion}}')

    implementation 'dev.galasa:dev.galasa'
    implementation 'dev.galasa:dev.galasa.framework'
    implementation 'commons-logging:commons-logging'
    implementation 'org.osgi:org.osgi.service.component.annotations'
    implementation 'javax.validation:validation-api'
    
    testImplementation 'org.junit.jupiter:junit-jupiter:5.10.0'
    testRuntimeOnly 'org.junit.platform:junit-platform-launcher:1.10.0'
}

tasks.withType(JavaCompile) {
    options.encoding = 'UTF-8'
}

test {
    useJUnitPlatform()
}

// Tell gradle to publish the built OSGi bundle as a maven artifact into
// the local maven repository.
publishing {
    publications {
        maven(MavenPublication) {
            from components.java
        }
    }
}

