---
title: "Viewing test results"
---

You can view the results of your test runs in Eclipse by completing the following steps:

1. Initialise the framework by selecting _Galasa > Initialise Galasa Framework_ from the Eclipse main menu. The framework is initialised.
1. Open the _Galasa Results_ tab by selecting _Window > Show View > Other_, expand _Galasa_ and choose _Galasa Results_.
1. Expand  _Local -> All runs -> Today’s runs_ to view the test runs for that day.
1. Double-click on the test run that you want to view to open the run editor.
1. Select the _General_ tab to view the result of the test run. 
1. Select the _Run Log_ tab to view a record of the events from the test run. 
1. Select the _Stored Artifacts_ tab to view test artifacts stored from the run, for example, terminal screens, recorded web requests and responses.  
